*{
    margin: 0px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    border: 1px solid silver;
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    transition: all 1s;
}

button:hover{
    background-color: greenyellow;
    color: black;
}

/* .buttonOpacity{
    opacity: 1;
} */

.bodyOpacity{
    background-color: rgba(0, 0, 0, 0.304);
}

body{
    transition: all 1s;
}

h1{
    opacity: 0;
    position: absolute;
    border: 1px solid black;
    visibility: hidden;
    transition: all 1s;
    top: 100px;
    padding: 20px;
    border-radius: 20px;
}

.contentOpacity{
    visibility: visible;
    opacity:1;
}